.dark-mode-toggle label {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
}

.dark-mode-toggle input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--background-color);
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--primary-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Application des styles pour le mode sombre */
[data-theme="dark"] .slider {
    background-color: var(--secondary-color);
}

[data-theme="dark"] input:checked + .slider {
    background-color: var(--accent-color);
}
